* {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    height: 20vh;
    box-shadow: 10px 5px 5px lightgray;
}

.header-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    cursor: pointer;
}

.header-image img {
    width: 210px;
    height: 150px;
    padding-left: 85px;

}

.inline-container ul li {
    display: inline-block;
    padding: 20px;
    list-style: none;
    padding-top: 40px;
}

.inline-container ul li i {
    font-size: 20px;
}

.inline-container ul li img {
    border-radius: 40px;
    width: 30px;
}

.inline-container ul li:nth-child(4) {
    color: rgb(125, 116, 116);
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}