 * {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header .logo img {
    width: 150px;
}




/* .logo img {
    width: 15vw;
}

.img-header {
    width: 50px;
    border-radius: 30px;
} */

/* header .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

/* header .links li {
    list-style: none;
}

header .links a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: rgb(176, 174, 174);

}

#unico {
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
} */

main {
    width: 65%;
    float: left;
    padding: 10px;
}

aside {
    width: 25%;
    float: left;
    /* background-color: orange; */
    color: black;
    margin-top: 55px;
    margin-left: 30px;
}

.item-aside {
    line-height: 30px;
}

.second-p {
    border: 1px solid lightgray;
    border-radius: 30px;
    margin-top: 30px;
}

.item-aside p {
    text-align: center;
}




.first-line {
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
    border-bottom: 1px solid lightgray;
}

.first-line h3 {
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.first-line h3:first-child {
    color: lightgray;
}

.first-blog-section p img {
    width: 25px;
    border-radius: 20px;
}



.first-blog-section {
    position: relative;
    margin-left: 38px;
    margin-top: 20px;
    line-height: 25px;
    margin-bottom: 50px;
}

.imagesd {
    width: 25vh;
    position: absolute;
    left: 70vh;
    top: 1vh;
}

.inline-flexblog {
    width: 60vh;
    display: flex;
    justify-content: space-between;
}

#margin-higher {
    margin-top: 80px;
}












